<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible", content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Teacher Personal Page</title>

    <!-- DEPENDENCIES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Roboto:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <style>
        .myFont{
          font-family: 'Montserrat', sans-serif;
          font-size: 1.3rem;  
        }
        body{
           font-family: 'Roboto', sans-serif;
        }
        h1{
            font-family: 'Montserrat', sans-serif;
            margin-bottom: 1.3rem;
        }
        h5{
            font-family: 'Montserrat', sans-serif;
        }
    </style>
</head>
<body>
    <div class="container-fluid" id="cont" style="height:100vh;">
        <div class = "row mt-5">
            <div class="card card-block" style="margin: 0 auto; width:50%;" >
                <div class="card-header bg-info text-white font-weight-bold myFont" align="center">TEACHER PERSONAL PAGE</div>
                    <div class="card-body">
                        <form action="/token-payment" method="POST" enctype="multipart/form-data">
                            <div class="form-group">
                                <p> Complete the form to send "School Krone" (SKR) to students.
                                    <br>
                                    You still have <%= SKRBalance %> SKR available.
                                </p>
                                    <label for="address">Teacher's wallet address: </label>
                                    <input type="text" class="form-control" id="address" placeholder="Wallet Address" name="address" maxlength="42" required>
                                    <br>
                                    <label for="address">Wallet address of the student you wish to pay: </label>

                                    <br>

                                    <!-- Modal -->
                                    <button type="button" class="btn btn-info" data-toggle="modal" data-target=".bd-example-modal-xl">Open unpaid deliveries</button>

                                    <span id="students_info" style="visibility: hidden;">
                                    </span>

                                    <input type="hidden" class="form-control" id="student_address" placeholder="Wallet Address" name="sAddress" maxlength="42" >

                                    <div class="modal fade bd-example-modal-xl" id="modal" style="width: 100%;"tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-xl">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Unpaid deliveries</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                              </button>
                                          </div>
                                          <div class="modal-body">
                                            <table class="table" id="table">
                                              <thead>
                                                <tr>
                                                    <th scope="col">ID</th>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Wallet Address</th>
                                                    <th scope="col">IPFS Hash</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% rows.forEach((item) => {%>
                                                <tr id="<%= item.id %>" style="cursor: pointer;">
                                                    <td> <%= item.id %> </td>
                                                    <td name="name" id="<%= item.student_name %>"> <%= item.student_name %> </td>
                                                    <td> <%= item.wallet_address %> </td>
                                                    <td> <%= item.ipfs_hash %> </td>
                                                </tr>
                                                <% }) %>
                                            </tbody>
                                        </table>
                                        <script type="text/javascript">
                                            $("#table tr").click(function(){  
                                                var name=$(this).find("td:eq(1)").text();
                                                //alert(value);  
                                                var id = $(this).attr("id");
                                                $('#modal').modal('toggle'); 
                                                $('#sAddress').html(id);
                                                $('#students_info').html(name);
                                                $("#student_address").val(id);
                                                if ( $('#sAddress').css('visibility') == 'hidden' )
                                                    $('#sAddress').css('visibility','visible'); 
                                                if ( $('#students_info').css('visibility') == 'hidden' )
                                                    $('#students_info').css('visibility','visible'); 
                                            });

                                        </script> 
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                            <label>The amount of tokens you wish to send: </label>
                            <input type="number" class="form-control" name="tokenAmount" min="1" placeholder="Amount of Tokens" required></input>                
                    </div>
                     
                    <br>

                    <div class="row">
                        <input type="submit" class="btn btn-info col-md-2 offset-md-5" value="SUBMIT">
                    </div>
                </form>
            </div>
        </div>            
    </div>    
</div>

</body>
</html>